<!DOCTYPE html>
<html>
<head>

</head>
    <link rel="stylesheet" href="/static/css/Other.css">
    <!-- stuff for fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
<body>
    <h1>Sign in!</h1>
    <p> Please enter your username:</p>
    <input id="usernameInput" placeholder="Enter username"/>
    <button onclick="login()">Login</button>
    <script>
        function login() {
            const username = document.getElementById('usernameInput').value.trim();
            if(username.length > 0) {
                localStorage.setItem('username', username);
                window.location.href = '/';
            } else {
                alert('Please enter a valid username.');
            }
        }
    </script>
</body>

</html>
